:root {
  --pr-color1: #4caf4f;
  --pr-color2: #ffffff;
  --pr-color3: #f3f4f6;
  --pr-color4: #000000;
  --pr-color6: #2b313a;
  --pr-color9: #edf7ed;
  --pr-color10: #263238;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--pr-color3);
  margin: 0;
  padding: 0;
  overflow: scroll;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
}
html, body {
    /* height: 100%; Pastikan elemen root memiliki tinggi penuh */
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    display: flex;
}
/* Navbar Style */
.navbar {
  padding: 16px 48px;
  background-color: #ffffff !important;
  box-shadow: 0px 8px 11.9px 0px rgba(0, 0, 0, 0.05);
}

.burger-button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burger-icon {
  width: 22px;
}

.navbar-brand {
  font-weight: 700;
  color: var(--pr-color6);
  font-size: 28px;
  line-height: 150%;
}

.btn-tambahData {
  background-color: var(--pr-color1);
  color: var(--pr-color2);
  border-radius: 8px;
  padding: 16px 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 125%;
  width: 233px;
  height: 62px;
}

.form-control {
  width: 389px;
  height: 62px;
  border-radius: 8px;
}

.search-input {
  padding-left: 50px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}
/* .parent-container{
    position: relative;
} */
.user-usere-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 344px;
  height: 232px;
  padding: 15px;
  z-index: 1000;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-right: 15px;
  display: block;
}

.user-details h4 {
  margin: 0; /* Hilangkan margin default */
  font-size: 1.2em; /* Sesuaikan ukuran font */
}

.user-details p {
  margin: 0; /* Hilangkan margin default */
  font-size: 0.9em; /* Sesuaikan ukuran font */
  color: gray; /* Warna teks yang lebih soft untuk email */
}

.user-options .option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.user-options .option a {
  text-decoration: none;
}

.user-options .option span {
  margin-right: 10px;
  font-size: 18px;
}

.user-options .option:hover span {
  color: var(--pr-color1); /* Mengubah warna teks menjadi hijau saat hover */
}

.user-options .option:hover img {
  filter: invert(60%) sepia(25%) saturate(500%) hue-rotate(60deg) brightness(95%) contrast(90%);
  /* Menyesuaikan filter untuk mendekati warna #4caf4f */
}

/* Sidebar Styles */

.sidebar {
  width: auto ;
  background-color: #ffffff !important;
  height: 80vh  ;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right:20px ;
    top: 0;
  display: block;
  transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    /* overflow-y: auto; */
    z-index: 1000;
}
.sidebar.show {
    /* display: none; */
    transition: all 0.3s ease;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
}
.sidebar.collapsed {
  width: 0;
  padding: 0;
  transform: translateX(-100%);
}

.nav-item {
  padding: 7px 0;
  color: var(--Text-Tint-20, #6c7581);
  width: 210px;
  height: 62px;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  margin-bottom: 25px;
  gap: 10px !important;
}

/* Active sidebar item style */
.nav-item .active {
  background-color: var(--pr-color1); /* Light green background */
  color: var(--pr-color2); /* Text color when active */
  border-radius: 8px;
  display: flex;
  width: 210px;
  height: 62px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px !important;
}
.active{
  background-color: var(--pr-color1); /* Light green background */
  color: var(--pr-color2); /* Text color when active */
}
.nav-item .active img {
  filter: brightness(0) invert(1); /* Mengubah warna menjadi putih */
}

/* Efek Hover untuk Nav Links di Sidebar */
.nav-link {
  color: var(--pr-color6); /* Warna default */
  border-radius: 8px;
  display: flex;
  width: 210px;
  height: 62px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--pr-color1); /* Background warna hijau saat hover */
  color: var(--pr-color2); /* Mengubah warna teks menjadi putih saat hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Efek shadow ringan */
}

.nav-link:hover img {
  filter: brightness(0) invert(1); /* Mengubah warna menjadi putih */
}

.content {
  padding: 20px;
  flex: 1;
}

/* Page Content Styles */
/* .page-content {
  display: none;
} */

.page-content.active {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Table Styles */
.table-container {
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
  border: none;
}

.table-header label {
  margin-right: 5px;
}

.table-header select {
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background-color: #ffffff;
  color: #666;
  background-color: transparent; /* Atur warna background jika ingin transparan */
  border: none;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.custom-table thead {
  background-color: #4caf50;
  color: white;
  text-align: left;
}

.custom-table th,
.custom-table td {
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  color: #333;
}

.custom-table th {
  font-weight: bold;
}

.custom-table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:last-child {
  border-bottom: none;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

.custom-table td .view-btn,
.custom-table td .edit-btn,
.custom-table td .delete-btn {
  margin-right: 8px;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.view-btn {
  background-color: #4caf50;
  color: white;
}

.edit-btn {
  background-color: #03a9f4;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.pagination {
  display: flex;
  align-items: center;
}

.page-btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
  color: #666;
  border: none;
}

.page-btn.active {
  background-color: #4caf50;
  color: #ffffff;
}

.page-btn:hover {
  background-color: #4caf50;
  color: #ffffff;
}

/* Table Berandaa Masih harus diperbaikin */
.table-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.table th {
  background-color: var(--pr-color1);
  color: var(--pr-color2);
  border-radius: 8px;
}

.table tbody tr:nth-child(even) {
  background-color: var(--pr-color9);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--pr-color2);
}

.table td,
.table th {
  vertical-align: middle;
  text-align: left;
}
/* Table Berandaa Masih harus diperbaikin */

/* Tambahkan ini pada CSS Anda */
.img-fullscreen {
  width: 100%;
  height: auto;
  transition: width 0.3s ease;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.img-normal {
  width: 100%;
  height: auto;
  transition: width 0.3s ease;
}

.text-overlay {
  position: absolute; /* Agar teks bisa berada di atas gambar */
  top: 50%; /* Tetap di tengah secara vertikal */
  left: 20px; /* Posisikan di sisi kiri dengan jarak 20px dari tepi kiri */
  transform: translateY(-50%); /* Hapus efek translate di sumbu X, hanya gunakan di sumbu Y */
  color: white; /* Ubah warna teks agar terlihat */
  font-size: 32px;
  font-weight: bold;
}

.small-text {
  font-size: 16px;
}

.large-text {
  font-size: 32px;
  font-weight: bold;
}

.pdf-container {
  display: flex;
    /* width: 1100px;
    height: 630px; */
  padding: 35px 0px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Neutral-7, #fff);
  box-shadow: -1px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.pdf-frame {
  width: 90%; /* Sesuaikan dengan container */
  height: 600px; /* Atur tinggi sesuai kebutuhan */
  border: none; /* Hapus border dari iframe */
}

.btn-sm {
  padding: 6px 10px;
  margin-right: 4px;
  border-radius: 4px;
}

/* Modal base styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Background with opacity */
}

/* Modal content box */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 50%;
  text-align: center;
}

/* Modal header with icon */
.modal-header .icon {
  width: 50px;
  margin-bottom: 10px;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

/* Modal body */
.modal-body h2 {
  font-weight: bold;
}

.modal-body p {
  color: #666;
  margin: 10px 0;
}

/* Modal footer buttons */
.modal-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cancel-btn,
.delete-confirm-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-btn {
  background-color: white;
  border: 2px solid red;
  color: red;
}

.delete-confirm-btn {
  background-color: red;
  border: none;
  color: white;
}

.cancel-btn:hover,
.delete-confirm-btn:hover {
  opacity: 0.8;
}

/* Card Fitur */
.card-fitur {
  background-color: var(--pr-color9);
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
}

/*  Table Beranda */

.judul-beranda {
  margin-left: 5px;
  color: var(--Text-Shade-40, #2b313a);
  /* Desktop/Heading 4/Bold/DMSans */
  font-family: "DM Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 39px */
}

.custom-table-hasil {
  width: 100%;
  height: 277px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Primary-0, #4caf4f);
  background: #fff;
  background-color: white;
  overflow: hidden;
  text-align: center !important;
}

.custom-table-hasil th,
.custom-table-hasil td {
  text-align: center !important;
  padding: 15px;
  color: var(--Neutral-7, #fff);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
  width: 20px;
  flex-shrink: 0;
}

.custom-table-hasil th {
  background-color: #4caf4f;
  color: white;
}

.custom-table-hasil thead {
  text-align: center !important;
}

.custom-table-hasil tbody td {
  border-bottom: 1px solid #4caf4f; /* Border hijau di bawah */
  color: #202224;
  /* Desktop/Label/Regular */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
  width: 63px;
  text-align: center;
}

.custom-table-hasil tbody tr {
  border: 1px solid #4caf4f; /* Border hijau di baris */
}

.custom-table-hasil tfoot td {
  background-color: #4caf4f; /* Warna hijau untuk footer */
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

/*  Table Beranda */

/* ---------------------------------Table Data PLot -----------------------------------*/

.custom-table-hasil {
  width: 100%;
  height: 277px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Primary-0, #4caf4f);
  background: #fff;
  background-color: white;
  overflow: hidden;
  text-align: left !important;
}

.custom-table-hasil th,
.custom-table-hasil td {
  text-align: left !important;
  padding: 15px;
  color: var(--Neutral-7, #fff);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
  width: 130px;
  flex-shrink: 0;
}

.custom-table-hasil th {
  background-color: #4caf4f;
  color: white;
}

.custom-table-hasil thead {
  text-align: left !important;
}

.custom-table-hasil tbody td {
  border-bottom: 1px solid #4caf4f; /* Border hijau di bawah */
  color: #202224;
  /* Desktop/Label/Regular */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
  width: 63px;
  text-align: left;
}

.custom-table-hasil tbody tr {
  border: 1px solid #4caf4f; /* Border hijau di baris */
}

.custom-table-hasil tfoot td {
  background-color: #4caf4f; /* Warna hijau untuk footer */
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

#carbonEmissionsChart {
  margin-top: 20px;
}

.view-btn {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #198754;
  border: none;
  margin-right: 8px;
}

.edit-btn {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Info-0, #0dcaf0);
  border: none;
  margin-right: 8px;
}

.delete-btn {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Error-0, #dc3545);
  border: none;
}

/* ---------------------------------Table Data PLot -----------------------------------*/

/* ---------------------------------- Sampah konten -----------------------------------*/

.table-container-sampah {
  display: flex;
  padding: 35px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: var(--Neutral-7, #fff);
  box-shadow: -1px 5px 20px 0px rgba(0, 0, 0, 0.05);
}

.table-header-sampah {
  display: flex;
  padding: 0px 35px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 35px;
}

.table-tengah-sampah {
  display: flex;
  height: 65px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--Primary-Tint-90, #edf7ed);
  margin-bottom: 0px; /* Hilangkan margin bawah */
}

.table-tengah-sampah h6,
.table-tengah-sampah span {
  margin: 0; /* Hilangkan margin default */
  font-family: "DM Sans"; /* Pastikan font-nya konsisten */
  font-size: 16px; /* Ukuran teks */
  line-height: 125%;
}

.table-tengah-sampah h6 {
  color: var(--Text-Tint-20, #6c7581);

  /* Desktop/Label/Regular */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
}

.table-tengah-sampah span {
  color: var(--Primary-0, #4caf4f);

  /* Desktop/Label/Bold */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 22.5px */
}

.dropdown-sampah {
  display: flex;
  align-items: center;
}

.dropdown-sampah select {
  margin-left: 10px;
  padding: 5px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions input[type="checkbox"] {
  margin-left: 10px;
}

.sampah-table {
  width: 100%;
  border-collapse: collapse;
}

.sampah-table tbody tr {
  display: flex;
  height: 75px;
  padding: 10px 35px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--Primary-0, #4caf4f);
  background: #fff;
}

.sampah-table th,
.sampah-table td {
  padding: 12px;
}

.sampah-table th {
  background-color: #f2f2f2;
}

.sampah-table tr:hover {
  border-bottom: 1px solid var(--Primary-0, #4caf4f);
  background: var(--Primary-Tint-80, #dbefdc);
}

.aksi-dataplot {
  display: flex;
  text-decoration: none;
}


.restrore-btn-sampah {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  background-color: var(--pr-color2);
}

.delete-btn-sampah {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border: none;
  background-color: var(--pr-color2);
}

.form-check-sampah {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Text-Tint-20, #6c7581);
}

.pagination-sampah {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.page-controls button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Tampilkan data sampah */
.tampilkan-data {
  display: inline-flex;
  align-items: flex-start;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #6c7581;
  position: relative;
}

.tampilkan-data label {
  margin-right: 5px;
}

.number-selection-data {
  display: inline-block;
  padding-bottom: 2px;
  width: 90px;
  text-align: center; /* Tetap di tengah secara default */
  position: relative;
  margin-left: -10px; /* Geser sedikit ke kiri dengan margin negatif */
}

.number-selection-data::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--pr-color1);
}

.tampilkan-data img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  margin-right: 20px; /* Memberikan jarak yang lebih besar agar tidak tumpang tindih dengan "data" */
  cursor: pointer;
}

.tampilkan-data ul {
  display: none;
  position: absolute;
  top: 100%; /* Dropdown akan muncul tepat di bawah elemen .number-selection */
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 100%; /* Membuat dropdown selebar elemen induk */
}

.tampilkan-data ul li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.tampilkan-data ul li:hover {
  background-color: #f0f0f0;
}

.tampilkan-data span {
  font-size: 18px;
  color: #6c7581;
  text-decoration: none;
  margin-left: 5px; /* Menyesuaikan jarak antara teks "data" dan gambar */
}

.tampilkan-data.active ul {
  display: block;
}
/* Tampilkan data sampah */

.tampilkan {
  display: flex;
  padding: 10px 0px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.tampilkan label {
  margin-right: 5px;
}

.number-selection {
  width: 120px;
  color: var(--Text-Tint-20, #6c7581);
  /* Desktop/Label/Regular */
  font-family: "DM Sans";
  font-size: 18px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
}

.tampilkan img {
  width: 12px;
  height: 12px;
  margin-right: 20px; /* Memberikan jarak yang lebih besar agar tidak tumpang tindih dengan "data" */
  cursor: pointer;
}

.tampilkan ul {
  display: none;
  position: absolute;
  top: 100%; /* Dropdown akan muncul tepat di bawah elemen .number-selection */
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 100%; /* Membuat dropdown selebar elemen induk */
}

.tampilkan ul li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.tampilkan ul li:hover {
  background-color: #f0f0f0;
}

.tampilkan span {
  font-size: 14px;
  color: #6c7581;
  text-decoration: none;
  margin-left: 5px; /* Menyesuaikan jarak antara teks "data" dan gambar */
}

.tampilkan.active ul {
  display: block;
}

.table-footer-data {
  display: flex;
  justify-content: space-between; /* This aligns left and right */
  align-items: center;
  width: 95%; /* Ensure it takes full width of the container */
  margin-top: 20px;
  font-size: 14px;
}

.table-footer-data span {
  color: var(--Text-Tint-20, #6c7581);
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}

.pagination-data {
  display: flex;
  align-items: center;
}

.page-btn-data {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
  color: var(--Text-Tint-20, #6c7581);
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}

.page-btn-data.active {
  background-color: #4caf50;
  color: #ffffff;
}

.page-btn-data:hover {
  background-color: #4caf50;
  color: #ffffff;
}

.aksi-button {
  display: flex;
  width: 101px;
  align-items: center;
  gap: 14px;
}

/* ---------------------------------- Sampah konten -----------------------------------*/

/* ------------------------------------- Chart --------------------------------------- */

#carbon-prediction-chart {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  background-color: #FFFFFF; /* Sesuaikan background */
}

#carbon-prediction-chart-2 {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  background-color: #FFFFFF; /* Sesuaikan background */
}
